body{
    background-color: black;
    color: white;
}
.card{
    background-color: gray;
}
.none{
    display: none;
}
.delete
{
    margin-left: 80%;
   
}
.btntask {
    margin: auto;
    }
    .block{
        display: block;
    }
    .touch{
        background-color: gray;
        text-decoration:line-through;
    }
    

    .alll{
        width: 100%;
        height: 100vh;
        background-color: black;
        color: white;

    }
    .light{
        background-color: white;
        color:black;
    }
